<div class="w-full h-fit p-4">
    <h1 class="text-slate-900 text-xl font-bold dark:text-white mb-4">
        Estudios
    </h1>
    <ol class="relative border-l border-gray-200 dark:border-gray-700">
        <li class="mb-10 ml-6">
            <span
                class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 dark:bg-gray-600 rounded-full -left-3 ring-8 ring-white dark:ring-gray-800">
                <svg aria-hidden="true" class="w-3 h-3 text-blue-800 dark:text-blue-300" fill="currentColor"
                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                        clip-rule="evenodd"></path>
                </svg>
            </span>
            <h3 class="flex items-center mb-1 text-lg font-semibold text-zinc-900 dark:text-zinc-100">
                Universidad de Ciencias Informáticas
            </h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Finalizado el
                13 enero del 2018</time>
            <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400 line-clamp-3">Nace como un proyecto de la
                Revolución Cubana denominado “Proyecto Futuro” que tiene dos objetivos: informatizar el país y
                desarrollar la industria del software para contribuir al desarrollo económico del mismo. Es la primera
                universidad cubana que se establece bajo los propósitos de la Batalla de Ideas.</p>
            <a href="#"
                class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-zinc-800 dark:border-zinc-700 dark:text-gray-300 dark:shadow-md dark:hover:text-zinc-100 dark:hover:bg-zinc-700">
                Visita su sitio</a>
        </li>
    </ol>

</div>